<div class="message">
  <div class="upper-message">
    <div class="message-user"><%= messages.user.name %></div>
    <div class="message-date"><%= l messages.created_at %></div>
  </div>
  <div class="lower-message">
    <div class="message-content"><%= messages.content %></div>
    <%= image_tag messages.image.variant(resize: "500x500"), class: "message-image" if messages.image.attached? %>
  </div>
</div>
