<div class="side-header-bar">
  <div class="header-name">
  <%= link_to(current_user.name, edit_user_path(current_user.id)) %>
    <%# <a href="#">Tom</a> %>
  </div>
  <div class="create-room">
    <a href="#">チャットを作成する</a>
  </div>
</div>

<div class="rooms">
  <div class="room">
    <div class="room-name">
      <a href="#">test_1</a>
    </div>
  </div>
</div>